# Q1. 
my_tuple = ( (1, 2, 3), [4, 5, 6], (&#39;apple&#39;, &#39;banana&#39;, &#39;cherry&#39;), [7, 8, 9] )  
• Print all elements from my_tuple on a new line (using for loop)  
• Create a new tuple by concatenating the first and last elements of my_tuple

In [1]:
my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )  
for elements in my_tuple:
    print(elements)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

In [2]:
new_tuple = my_tuple[0] + tuple(my_tuple[-1])
print(new_tuple)

(1, 2, 3, 7, 8, 9)

### Error ⬇

In [3]:
#TypeError: can only concatenate tuple (not "list") to tuple
new_tuple = my_tuple[0] + my_tuple[-1]
print(new_tuple)

TypeError: can only concatenate tuple (not "list") to tuple

In [4]:
print(my_tuple[0], my_tuple[-1])
#Not Concatenation

(1, 2, 3) [7, 8, 9]

________________________________________________________________________________________________________________________________________________________

# Q2.  
inventory = { &quot;The Great Gatsby&quot;: {&quot;price&quot;: 10.99, &quot;quantity&quot;: 5}, &quot;Rich dad poor dad&quot;: {&quot;price&quot;:
8.99, &quot;quantity&quot;: 8}, &quot;Harry Potter&quot;: {&quot;price&quot;: 12.50, &quot;quantity&quot;: 2}, }  
• Add a new book in inventory using method and get all book titles using method  
• Remove a book if it&#39;s out of stock

In [5]:
inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, 
             "Rich dad poor dad": {"price": 8.99, "quantity": 8}, 
             "Harry Potter": {"price": 12.50, "quantity": 2}, }
inventory

{'The Great Gatsby': {'price': 10.99, 'quantity': 5},
 'Rich dad poor dad': {'price': 8.99, 'quantity': 8},
 'Harry Potter': {'price': 12.5, 'quantity': 2}}

In [6]:
new_book = {'To Kill a Mockingbird': {"price": 14.99, "quantity": 3}, 
            'The Catcher in the Rye': {"price": 11.99, "quantity": 0}}
inventory.update(new_book)
print("Updated Inventory:")

book_titles = list(inventory.keys())
print(book_titles)

Updated Inventory:
['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'To Kill a Mockingbird', 'The Catcher in the Rye']

In [9]:
#Using for loop
new_book = {'To Kill a Mockingbird': {"price": 14.99, "quantity": 3}, 
            'The Catcher in the Rye': {"price": 11.99, "quantity": 0}}
inventory.update(new_book)
print("Updated Inventory:")
for book in inventory:
    print(book)

Updated Inventory:
The Great Gatsby
Rich dad poor dad
Harry Potter
To Kill a Mockingbird
The Catcher in the Rye

In [12]:
for book, details in inventory.items():
    if details["quantity"] == 0:
        del inventory[book] 
print("Updated Inventory:")
for book, details in inventory.items():
    print((book), (details))

Updated Inventory:
The Great Gatsby {'price': 10.99, 'quantity': 5}
Rich dad poor dad {'price': 8.99, 'quantity': 8}
Harry Potter {'price': 12.5, 'quantity': 2}
To Kill a Mockingbird {'price': 14.99, 'quantity': 3}

________________________________________________________________________________________________________________________________________________________

# Q3. 
An ecommerce store stores information about its products in a nested dictionary.  
The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity.  
products = { 101: {&quot;name&quot;: &quot;Laptop&quot;, &quot;category&quot;: &quot;Electronics&quot;, &quot;price&quot;: 1200, &quot;stock&quot;: 50},  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 102:
{&quot;name&quot;: &quot;Shirt&quot;, &quot;category&quot;: &quot;Apparel&quot;, &quot;price&quot;: 25, &quot;stock&quot;: 200},  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 103: {&quot;name&quot;: &quot;Coffee Maker&quot;,
&quot;category&quot;: &quot;Home Appliances&quot;, &quot;price&quot;: 80, &quot;stock&quot;: 30} }  
• Increase the stock of the &quot;Shirt&quot; product (add 50 more units)  
• Add a new product (e.g., &quot;Smartphone&quot;)

In [13]:
products = { 
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} 
}
for product_id, product_details in products.items():
    print("Product ID: ", (product_id))
    print("Name: ", (product_details['name']))
    print("Category: ", (product_details['category']))
    print("Price: $", (product_details['price']))
    print("Stock: ", (product_details['stock']))
    print("-" * 30)

Product ID:  101
Name:  Laptop
Category:  Electronics
Price: $ 1200
Stock:  50
------------------------------
Product ID:  102
Name:  Shirt
Category:  Apparel
Price: $ 25
Stock:  200
------------------------------
Product ID:  103
Name:  Coffee Maker
Category:  Home Appliances
Price: $ 80
Stock:  30
------------------------------

In [15]:
products[102]["stock"] += 50
print("Updated Inventory:")
for product_id, product_details in products.items():
    print("Product ID: ", (product_id))
    print("Name: ", (product_details['name']))
    print("Category: ", (product_details['category']))
    print("Price: $", (product_details['price']))
    print("Stock: ", (product_details['stock']))
    print("-" * 30)

Updated Inventory:
Product ID:  101
Name:  Laptop
Category:  Electronics
Price: $ 1200
Stock:  50
------------------------------
Product ID:  102
Name:  Shirt
Category:  Apparel
Price: $ 25
Stock:  300
------------------------------
Product ID:  103
Name:  Coffee Maker
Category:  Home Appliances
Price: $ 80
Stock:  30
------------------------------

In [16]:
Smartphone = {
    104: {"name": "Smartphone X", "category": "Electronics", "price": 699, "stock": 50}
}
products.update(Smartphone)
print("Updated Inventory:")
for product_id, product_details in products.items():
    print("Product ID: ", (product_id))
    print("Name: ", (product_details['name']))
    print("Category: ", (product_details['category']))
    print("Price: $", (product_details['price']))
    print("Stock: ", (product_details['stock']))
    print("-" * 30)

Updated Inventory:
Product ID:  101
Name:  Laptop
Category:  Electronics
Price: $ 1200
Stock:  50
------------------------------
Product ID:  102
Name:  Shirt
Category:  Apparel
Price: $ 25
Stock:  300
------------------------------
Product ID:  103
Name:  Coffee Maker
Category:  Home Appliances
Price: $ 80
Stock:  30
------------------------------
Product ID:  104
Name:  Smartphone X
Category:  Electronics
Price: $ 699
Stock:  50
------------------------------

________________________________________________________________________________________________________________________________________________________

# Q4. 
You are given a list that contains some duplicate items.  
• Remove the duplicates by converting the list to a set.  
shopping_list = [&quot;apple&quot;, &quot;banana&quot;, &quot;apple&quot;, &quot;orange&quot;, &quot;banana&quot;, &quot;grape&quot;]

In [17]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
shopping_list

['apple', 'banana', 'apple', 'orange', 'banana', 'grape']

In [18]:
shopping_set = set(shopping_list)
shopping_set

{'apple', 'banana', 'grape', 'orange'}

________________________________________________________________________________________________________________________________________________________

# Q5. 
You are managing a list of students enrolled in two different courses.  
You need to perform various set operations to understand the student enrollment.  
#### Task: Create two sets:  
one for students in &quot;Course A&quot; and one for students in &quot;Course B&quot;.  

• Find the students who are in &quot;Course A&quot; but not in &quot;Course B&quot; (difference).   
• Find students who are only in one of the two courses (symmetric difference).   

course_a = {&quot;John&quot;, &quot;Alice&quot;, &quot;Bob&quot;, &quot;David&quot;}  
course_b = {&quot;Alice&quot;, &quot;Eve&quot;, &quot;Charlie&quot;, &quot;David&quot;}

In [19]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

#difference
difference = course_a - course_b
print("Difference:", difference)

#symmetric difference
symmetric_difference = course_a ^ course_b
print("Symmetric Difference:", symmetric_difference)

Difference: {'Bob', 'John'}
Symmetric Difference: {'Charlie', 'John', 'Eve', 'Bob'}

________________________________________________________________________________________________________________________________________________________

# Q6.  
Write a Python program that calculates the sum of all even numbers between 1 and 50 (inclusive) using a for loop.
#### Hint
1. Initialize a variable to hold the sum (e.g., sum_of_evens).  
2. Use a for loop to iterate through all numbers from 1 to 50.  
3. Inside the loop, check if the number is even.  
4. If the number is even, add it to sum_of_evens.
5. After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [20]:
# 1. Initialize a variable to hold the sum
sum_of_evens = 0

# 2. Use a for loop to iterate through all numbers from 1 to 50.
for num in range(1, 51):
    #3. Check if the number is even
    if num % 2 == 0:
        sum_of_evens += num  #4. Add the even number to sum_of_evens

#5. print the total sum of all even numbers
print("Sum of all even numbers between 1 and 50:", sum_of_evens)

Sum of all even numbers between 1 and 50: 650

________________________________________________________________________________________________________________________________________________________

# Q7. 
Write a Python program that prints the multiplication table for a given number (between 1 and 10) using a for loop.

#### Hint:
1. Ask the user for a number between 1 and 10 .
2. Use a for loop to iterate through the numbers from 1 to 10.
3. For each iteration, calculate the product of the given number and the current number in the
loop.
4. Print the result in a readable format (e.g., 5 x 1 = 5).
5. Ensure the program works correctly for any number between 1 and 10.

#### Output Hint:  
4 x 1 = 4  
4 x 2 = 8  
4 x 3 = 12  
4 x 4 = 16  
4 x 5 = 20  
4 x 6 = 24  
4 x 7 = 28  
4 x 8 = 32  
4 x 9 = 36  
4 x 10 = 40

In [22]:
#1. Ask the user to input a number between 1 and 10
number = int(input("Enter a number between 1 and 10: "))
print("User Input: ", number)

if 1 <= number <= 10:
    #2. Use a for loop to iterate through numbers from 1 to 10
    for i in range(1, 11):
        #3. Calculate the product and 4. print it in a readable format
        print(f"{number} x {i} = {number * i}")
else:
    print("Please enter a number between 1 and 10.")

Enter a number between 1 and 10:  10

User Input:  10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

________________________________________________________________________________________________________________________________________________________

# Q8. Power of a Number
Write a Python program that takes a number and prints the powers of the number (starting from 1 to 10) using a while loop.  
For example, if the user inputs 3, the output should be:  
3^1 = 3  
3^2 = 9  
3^3 = 27  
... up to 3^10.

In [23]:
num = int(input("Enter a number: "))
print("User Input: ", num)

exponent = 1

while exponent <= 10:
    print(f"{num}^{exponent} = {num ** exponent}")
    exponent += 1

Enter a number:  5

User Input:  5
5^1 = 5
5^2 = 25
5^3 = 125
5^4 = 625
5^5 = 3125
5^6 = 15625
5^7 = 78125
5^8 = 390625
5^9 = 1953125
5^10 = 9765625

________________________________________________________________________________________________________________________________________________________

# Q9. 
#### Problem Statement: 
Write a Python program that takes an integer input from the user and counts down from that number to 0.   
The program should display the current number at each step until it reaches 0, at which point it should print a message indicating the countdown is finished
#### Output Hint: 
Enter a number to start the countdown: 3  
3  
2  
1  
0  
Countdown finished!

In [24]:
numberr = int(input("Enter a number to start the countdown: "))
print("User Input: ", numberr)

while numberr >= 0:
    print(numberr)
    numberr -= 1

print("Countdown finished!")

Enter a number to start the countdown:  9

User Input:  9
9
8
7
6
5
4
3
2
1
0
Countdown finished!

________________________________________________________________________________________________________________________________________________________

# Q10. 
Write a Python program that takes an integer input n from the user and generates a right-angled triangle pattern of stars (*) with n rows.  
The first row should contain 1 star, the second row 2 stars, the third row 3 stars, and so on until the nth row.  
Ensure the stars in each row are separated by spaces, and each row starts on a new line.  
#### Pattern:  
\*  
\**  
\***  
\****  
\*****

In [25]:
n = int(input("Enter the number of rows for the triangle: "))
print("User Input: ", n)

for i in range(1, n + 1):
    print(" ".join("*" * i))

Enter the number of rows for the triangle:  5

User Input:  5
*
* *
* * *
* * * *
* * * * *

________________________________________________________________________________________________________________________________________________________